{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Log in to your account</h4>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-block" style="width: 10%; margin-top: 15px;">Log in</button>
                <a style="display:inline-block; margin-top: 15px;" href="{% url 'django_registration_register' %}">Create account</a>
            </form>
        </div>
    </div>
{% endblock %}